# Imersão de Pandas - Teo Me Why

### Breve revisão de Python - Turbo

In [1]:
#cd /home/juliana-duque/anaconda3/bin
#anaconda-navigator
#environment -> base(root) -> open with jupyter notebook

#### Strings

In [2]:
nome = "Juliana Duque"
print (nome)

nome2 = "Everton Henrique"
print (nome2)

Juliana Duque
Everton Henrique

#### Numéricos

#### Listas
* list comprehension

In [3]:
minha_lista = ["Teo", 28, "Ju", "Amor"]
len(minha_lista)

4

In [4]:
minha_lista[0]

'Teo'

minha_lista [-1]

In [5]:
minha_lista[-1]

'Amor'

#### Dicionários

In [6]:
dados = { 'nome': ['Laura'],
        'sobrenome': ['Duque'],
        'idade':[7] 
        }

In [7]:
dados

{'nome': ['Laura'], 'sobrenome': ['Duque'], 'idade': [7]}

In [8]:
dados ["nome"] [0]

'Laura'

#### If, Else, Elif

#### For & While

#### Funções

In [9]:
def calc_cubo (x):
    return x ** 3

In [10]:
calc_cubo(4)

64

In [11]:
def funcao_bivariada (x,y):
    return 2 * x + 4 * (y ** 3)

In [12]:
funcao_bivariada ( 10, 4 )

276

## Finalmente, Pandas


Fingindo um pouco a análise de dados

### Comandos básicos

* Importação da biblioteca
* O que são Series e Dataframes?
    - Criando o primeiro dataframe
* Leitura de arquivos
* Escrita de arquivos
* Operações básicas de DataFrame

In [13]:
import pandas as pd

 ### Séries

In [14]:
minha_serie = pd.Series (["Teo" ,"Nah", "Laura", "Ju"])
type(minha_serie)
minha_serie

0      Teo
1      Nah
2    Laura
3       Ju
dtype: object

In [15]:
minha_serie [ 0 ]

'Teo'

In [16]:
minha_serie [1:]

1      Nah
2    Laura
3       Ju
dtype: object

In [17]:
minha_serie.name

In [18]:
dados = {"nome": ["Teo", "Nah", "Lara", "Ju"]}
nova_serie = pd.Series(dados, name = "nome")

In [19]:
nova_serie

nome    [Teo, Nah, Lara, Ju]
Name: nome, dtype: object

In [20]:
nova_serie == "Téo"

nome    False
Name: nome, dtype: bool

In [21]:
idade = pd.Series ( [43, 24 ,27 ,10, 15, 17, 30, 45 ])
idade

0    43
1    24
2    27
3    10
4    15
5    17
6    30
7    45
dtype: int64

In [22]:
idade > 18

0     True
1     True
2     True
3    False
4    False
5    False
6     True
7     True
dtype: bool

In [23]:
idade  * 10

0    430
1    240
2    270
3    100
4    150
5    170
6    300
7    450
dtype: int64

### Testando

In [24]:
dados = { "nome":["Téo", "Nah", "Lara", "Ju"],
         "sobrenome":["Calvo", "Gironde", "Calvo", "Duc"],
         "idade":[28,30,27, 26], }

In [25]:
dados

{'nome': ['Téo', 'Nah', 'Lara', 'Ju'],
 'sobrenome': ['Calvo', 'Gironde', 'Calvo', 'Duc'],
 'idade': [28, 30, 27, 26]}

In [26]:
dados["nome"] # retorna lista

['Téo', 'Nah', 'Lara', 'Ju']

In [27]:
df_dados = pd.DataFrame(dados)

In [28]:
df_dados["nome"] # retorna uma serie

0     Téo
1     Nah
2    Lara
3      Ju
Name: nome, dtype: object

In [29]:
df_dados["nome"].tolist() #converte para lista

['Téo', 'Nah', 'Lara', 'Ju']

In [30]:
df_dados["nome"] == "Téo"

0     True
1    False
2    False
3    False
Name: nome, dtype: bool

In [32]:
df_dados

   nome sobrenome  idade
0   Téo     Calvo     28
1   Nah   Gironde     30
2  Lara     Calvo     27
3    Ju       Duc     26

### Importando dados

In [33]:
df_votacao = pd.read_csv ("../data/votacao_agg_estado.csv")

C:\Users\felip\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [34]:
df_votacao2 = pd.read_csv ("../data/votacao_agg_estado.csv")

In [35]:
df_votacao

,ano_eleicao,descricao_eleicao,numero_turno,nome_partido,numero_partido,sigla_partido,descricao_cargo,descricao_situacao_candidatura,descricao_situacao_candidatura_superior,nome,...,total_votos_to,total_votos_pa,total_votos_ms,total_votos_pi,total_votos_ma,total_votos_df,total_votos_es,total_votos_rr,total_votos_sc,total_votos
0,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DEMOCRATICO TRABALHISTA,12,PDT,GOVERNADOR,DEFERIDO,APTO,AMAZONINO ARMANDO MENDES,...,0,0,0,0,0,0,0,0,0,577397
1,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DO MOVIMENTO DEMOCRATICO BRASILEIRO,15,PMDB,GOVERNADOR,DEFERIDO,APTO,CARLOS EDUARDO DE SOUZA BRAGA,...,0,0,0,0,0,0,0,0,0,377680
2,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DOS TRABALHADORES,13,PT,GOVERNADOR,DEFERIDO,APTO,JOSE RICARDO WENDLING,...,0,0,0,0,0,0,0,0,0,181257
3,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO HUMANISTA DA SOLIDARIEDADE,31,PHS,GOVERNADOR,DEFERIDO,APTO,MAURICIO WILKER DE AZEVEDO BARRETO,...,0,0,0,0,0,0,0,0,0,22623
4,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO PATRIA LIVRE,54,PPL,GOVERNADOR,DEFERIDO,APTO,JADELVONE NOGUEIRA DELTRUDES,...,0,0,0,0,0,0,0,0,0,3362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511100,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIAL LIBERAL,17,PSL,GOVERNADOR,APTO,NaN,MARCOS JOSE ROCHA DOS SANTOS,...,0,0,0,0,0,0,0,0,0,530188
511101,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,ANTONIO CARLOS VALADARES FILHO,...,0,0,0,0,0,0,0,0,0,370161
511102,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,JOAO ALBERTO RODRIGUES CAPIBERIBE,...,0,0,0,0,0,0,0,0,0,174540
511103,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,MARCIO LUIZ FRANCA GOMES,...,0,0,0,0,0,0,0,0,0,20497480
511104,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,RODRIGO SOBRAL ROLLEMBERG,...,0,0,0,0,0,451329,0,0,0,451329

In [36]:
df_votacao.head(2)

,ano_eleicao,descricao_eleicao,numero_turno,nome_partido,numero_partido,sigla_partido,descricao_cargo,descricao_situacao_candidatura,descricao_situacao_candidatura_superior,nome,...,total_votos_to,total_votos_pa,total_votos_ms,total_votos_pi,total_votos_ma,total_votos_df,total_votos_es,total_votos_rr,total_votos_sc,total_votos
0,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DEMOCRATICO TRABALHISTA,12,PDT,GOVERNADOR,DEFERIDO,APTO,AMAZONINO ARMANDO MENDES,...,0,0,0,0,0,0,0,0,0,577397
1,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DO MOVIMENTO DEMOCRATICO BRASILEIRO,15,PMDB,GOVERNADOR,DEFERIDO,APTO,CARLOS EDUARDO DE SOUZA BRAGA,...,0,0,0,0,0,0,0,0,0,377680

In [37]:
df_votacao.tail(2)

,ano_eleicao,descricao_eleicao,numero_turno,nome_partido,numero_partido,sigla_partido,descricao_cargo,descricao_situacao_candidatura,descricao_situacao_candidatura_superior,nome,...,total_votos_to,total_votos_pa,total_votos_ms,total_votos_pi,total_votos_ma,total_votos_df,total_votos_es,total_votos_rr,total_votos_sc,total_votos
511103,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,MARCIO LUIZ FRANCA GOMES,...,0,0,0,0,0,0,0,0,0,20497480
511104,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,RODRIGO SOBRAL ROLLEMBERG,...,0,0,0,0,0,451329,0,0,0,451329

In [38]:
# Dimensoes do dataframe
df_votacao.shape

(511105, 43)

In [39]:
# Quais são suas colunas?
df_votacao.columns

Index(['ano_eleicao', 'descricao_eleicao', 'numero_turno', 'nome_partido',
       'numero_partido', 'sigla_partido', 'descricao_cargo',
       'descricao_situacao_candidatura',
       'descricao_situacao_candidatura_superior', 'nome', 'nome_social',
       'nome_urna', 'numero_sequencial', 'numero_urna', 'total_votos_ac',
       'total_votos_al', 'total_votos_am', 'total_votos_ap', 'total_votos_ba',
       'total_votos_rj', 'total_votos_sp', 'total_votos_ce', 'total_votos_ro',
       'total_votos_se', 'total_votos_pr', 'total_votos_mg', 'total_votos_mt',
       'total_votos_pe', 'total_votos_pb', 'total_votos_zz', 'total_votos_go',
       'total_votos_rs', 'total_votos_rn', 'total_votos_to', 'total_votos_pa',
       'total_votos_ms', 'total_votos_pi', 'total_votos_ma', 'total_votos_df',
       'total_votos_es', 'total_votos_rr', 'total_votos_sc', 'total_votos'],
      dtype='object')

In [40]:
# Quais são suas colunas?
df_votacao.columns.tolist()

['ano_eleicao',
 'descricao_eleicao',
 'numero_turno',
 'nome_partido',
 'numero_partido',
 'sigla_partido',
 'descricao_cargo',
 'descricao_situacao_candidatura',
 'descricao_situacao_candidatura_superior',
 'nome',
 'nome_social',
 'nome_urna',
 'numero_sequencial',
 'numero_urna',
 'total_votos_ac',
 'total_votos_al',
 'total_votos_am',
 'total_votos_ap',
 'total_votos_ba',
 'total_votos_rj',
 'total_votos_sp',
 'total_votos_ce',
 'total_votos_ro',
 'total_votos_se',
 'total_votos_pr',
 'total_votos_mg',
 'total_votos_mt',
 'total_votos_pe',
 'total_votos_pb',
 'total_votos_zz',
 'total_votos_go',
 'total_votos_rs',
 'total_votos_rn',
 'total_votos_to',
 'total_votos_pa',
 'total_votos_ms',
 'total_votos_pi',
 'total_votos_ma',
 'total_votos_df',
 'total_votos_es',
 'total_votos_rr',
 'total_votos_sc',
 'total_votos']

In [41]:
type(df_votacao.columns.tolist())

list

In [42]:
df_votacao.index

RangeIndex(start=0, stop=511105, step=1)

## Utilitários

In [43]:
df_votacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511105 entries, 0 to 511104
Data columns (total 43 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   ano_eleicao                              511105 non-null  int64
 1   descricao_eleicao                        511105 non-null  object
 2   numero_turno                             511105 non-null  int64
 3   nome_partido                             511105 non-null  object
 4   numero_partido                           511105 non-null  int64
 5   sigla_partido                            511105 non-null  object
 6   descricao_cargo                          511105 non-null  object
 7   descricao_situacao_candidatura           511105 non-null  object
 8   descricao_situacao_candidatura_superior  484655 non-null  object
 9   nome                                     511105 non-null  object
 10  nome_social                              0 non-null       float64
 11  nome_urna                                511095 non-null  object
 12  numero_sequencial                        511105 non-null  int64
 13  numero_urna                              511105 non-null  int64
 14  total_votos_ac                           511105 non-null  int64
 15  total_votos_al                           511105 non-null  int64
 16  total_votos_am                           511105 non-null  int64
 17  total_votos_ap                           511105 non-null  int64
 18  total_votos_ba                           511105 non-null  int64
 19  total_votos_rj                           511105 non-null  int64
 20  total_votos_sp                           511105 non-null  int64
 21  total_votos_ce                           511105 non-null  int64
 22  total_votos_ro                           511105 non-null  int64
 23  total_votos_se                           511105 non-null  int64
 24  total_votos_pr                           511105 non-null  int64
 25  total_votos_mg                           511105 non-null  int64
 26  total_votos_mt                           511105 non-null  int64
 27  total_votos_pe                           511105 non-null  int64
 28  total_votos_pb                           511105 non-null  int64
 29  total_votos_zz                           511105 non-null  int64
 30  total_votos_go                           511105 non-null  int64
 31  total_votos_rs                           511105 non-null  int64
 32  total_votos_rn                           511105 non-null  int64
 33  total_votos_to                           511105 non-null  int64
 34  total_votos_pa                           511105 non-null  int64
 35  total_votos_ms                           511105 non-null  int64
 36  total_votos_pi                           511105 non-null  int64
 37  total_votos_ma                           511105 non-null  int64
 38  total_votos_df                           511105 non-null  int64
 39  total_votos_es                           511105 non-null  int64
 40  total_votos_rr                           511105 non-null  int64
 41  total_votos_sc                           511105 non-null  int64
 42  total_votos                              511105 non-null  int64
dtypes: float64(1), int64(34), object(8)
memory usage: 167.7+ MB

In [44]:
df_votacao.dtypes

ano_eleicao                                  int64
descricao_eleicao                           object
numero_turno                                 int64
nome_partido                                object
numero_partido                               int64
sigla_partido                               object
descricao_cargo                             object
descricao_situacao_candidatura              object
descricao_situacao_candidatura_superior     object
nome                                        object
nome_social                                float64
nome_urna                                   object
numero_sequencial                            int64
numero_urna                                  int64
total_votos_ac                               int64
total_votos_al                               int64
total_votos_am                               int64
total_votos_ap                               int64
total_votos_ba                               int64
total_votos_rj                               int64
total_votos_sp                               int64
total_votos_ce                               int64
total_votos_ro                               int64
total_votos_se                               int64
total_votos_pr                               int64
total_votos_mg                               int64
total_votos_mt                               int64
total_votos_pe                               int64
total_votos_pb                               int64
total_votos_zz                               int64
total_votos_go                               int64
total_votos_rs                               int64
total_votos_rn                               int64
total_votos_to                               int64
total_votos_pa                               int64
total_votos_ms                               int64
total_votos_pi                               int64
total_votos_ma                               int64
total_votos_df                               int64
total_votos_es                               int64
total_votos_rr                               int64
total_votos_sc                               int64
total_votos                                  int64
dtype: object

In [45]:
df_votacao.dtypes.index

Index(['ano_eleicao', 'descricao_eleicao', 'numero_turno', 'nome_partido',
       'numero_partido', 'sigla_partido', 'descricao_cargo',
       'descricao_situacao_candidatura',
       'descricao_situacao_candidatura_superior', 'nome', 'nome_social',
       'nome_urna', 'numero_sequencial', 'numero_urna', 'total_votos_ac',
       'total_votos_al', 'total_votos_am', 'total_votos_ap', 'total_votos_ba',
       'total_votos_rj', 'total_votos_sp', 'total_votos_ce', 'total_votos_ro',
       'total_votos_se', 'total_votos_pr', 'total_votos_mg', 'total_votos_mt',
       'total_votos_pe', 'total_votos_pb', 'total_votos_zz', 'total_votos_go',
       'total_votos_rs', 'total_votos_rn', 'total_votos_to', 'total_votos_pa',
       'total_votos_ms', 'total_votos_pi', 'total_votos_ma', 'total_votos_df',
       'total_votos_es', 'total_votos_rr', 'total_votos_sc', 'total_votos'],
      dtype='object')

In [46]:
df_votacao.dtypes["ano_eleicao"]

dtype('int64')

## Navegação pelo DataFrame

In [47]:
type(df_votacao["nome"][511100])

str

In [48]:
df_votacao["nome"][511100] #coluna, indice

'MARCOS JOSE ROCHA DOS SANTOS'

In [49]:
df_votacao["nome"]

0                   AMAZONINO ARMANDO MENDES
1              CARLOS EDUARDO DE SOUZA BRAGA
2                      JOSE RICARDO WENDLING
3         MAURICIO WILKER DE AZEVEDO BARRETO
4               JADELVONE NOGUEIRA DELTRUDES
                         ...
511100          MARCOS JOSE ROCHA DOS SANTOS
511101        ANTONIO CARLOS VALADARES FILHO
511102     JOAO ALBERTO RODRIGUES CAPIBERIBE
511103              MARCIO LUIZ FRANCA GOMES
511104             RODRIGO SOBRAL ROLLEMBERG
Name: nome, Length: 511105, dtype: object

In [50]:
df_votacao["nome"] == 'MARCOS JOSE ROCHA DOS SANTOS'

0         False
1         False
2         False
3         False
4         False
          ...
511100     True
511101    False
511102    False
511103    False
511104    False
Name: nome, Length: 511105, dtype: bool

In [51]:
df[coluna][linha]

NameError: name 'df' is not defined

In [52]:
df_votacao.columns.tolist()

['ano_eleicao',
 'descricao_eleicao',
 'numero_turno',
 'nome_partido',
 'numero_partido',
 'sigla_partido',
 'descricao_cargo',
 'descricao_situacao_candidatura',
 'descricao_situacao_candidatura_superior',
 'nome',
 'nome_social',
 'nome_urna',
 'numero_sequencial',
 'numero_urna',
 'total_votos_ac',
 'total_votos_al',
 'total_votos_am',
 'total_votos_ap',
 'total_votos_ba',
 'total_votos_rj',
 'total_votos_sp',
 'total_votos_ce',
 'total_votos_ro',
 'total_votos_se',
 'total_votos_pr',
 'total_votos_mg',
 'total_votos_mt',
 'total_votos_pe',
 'total_votos_pb',
 'total_votos_zz',
 'total_votos_go',
 'total_votos_rs',
 'total_votos_rn',
 'total_votos_to',
 'total_votos_pa',
 'total_votos_ms',
 'total_votos_pi',
 'total_votos_ma',
 'total_votos_df',
 'total_votos_es',
 'total_votos_rr',
 'total_votos_sc',
 'total_votos']

In [53]:
df_votacao["sigla_partido"][4] #navegando em colunas

'PPL'

In [54]:
df_votacao.iloc[0]

ano_eleicao                                                             2014
descricao_eleicao                          ELEICAO SUPLEMENTAR GOVERNADOR AM
numero_turno                                                               1
nome_partido                                 PARTIDO DEMOCRATICO TRABALHISTA
numero_partido                                                            12
sigla_partido                                                            PDT
descricao_cargo                                                   GOVERNADOR
descricao_situacao_candidatura                                      DEFERIDO
descricao_situacao_candidatura_superior                                 APTO
nome                                                AMAZONINO ARMANDO MENDES
nome_social                                                              NaN
nome_urna                                                   AMAZONINO MENDES
numero_sequencial                                                40000012067
numero_urna                                                               12
total_votos_ac                                                             0
total_votos_al                                                             0
total_votos_am                                                        577397
total_votos_ap                                                             0
total_votos_ba                                                             0
total_votos_rj                                                             0
total_votos_sp                                                             0
total_votos_ce                                                             0
total_votos_ro                                                             0
total_votos_se                                                             0
total_votos_pr                                                             0
total_votos_mg                                                             0
total_votos_mt                                                             0
total_votos_pe                                                             0
total_votos_pb                                                             0
total_votos_zz                                                             0
total_votos_go                                                             0
total_votos_rs                                                             0
total_votos_rn                                                             0
total_votos_to                                                             0
total_votos_pa                                                             0
total_votos_ms                                                             0
total_votos_pi                                                             0
total_votos_ma                                                             0
total_votos_df                                                             0
total_votos_es                                                             0
total_votos_rr                                                             0
total_votos_sc                                                             0
total_votos                                                           577397
Name: 0, dtype: object

In [55]:
df_votacao.iloc[3] #navegando em indices

ano_eleicao                                                              2014
descricao_eleicao                           ELEICAO SUPLEMENTAR GOVERNADOR AM
numero_turno                                                                1
nome_partido                               PARTIDO HUMANISTA DA SOLIDARIEDADE
numero_partido                                                             31
sigla_partido                                                             PHS
descricao_cargo                                                    GOVERNADOR
descricao_situacao_candidatura                                       DEFERIDO
descricao_situacao_candidatura_superior                                  APTO
nome                                       MAURICIO WILKER DE AZEVEDO BARRETO
nome_social                                                               NaN
nome_urna                                                      WILKER BARRETO
numero_sequencial                                                 40000012061
numero_urna                                                                31
total_votos_ac                                                              0
total_votos_al                                                              0
total_votos_am                                                          22623
total_votos_ap                                                              0
total_votos_ba                                                              0
total_votos_rj                                                              0
total_votos_sp                                                              0
total_votos_ce                                                              0
total_votos_ro                                                              0
total_votos_se                                                              0
total_votos_pr                                                              0
total_votos_mg                                                              0
total_votos_mt                                                              0
total_votos_pe                                                              0
total_votos_pb                                                              0
total_votos_zz                                                              0
total_votos_go                                                              0
total_votos_rs                                                              0
total_votos_rn                                                              0
total_votos_to                                                              0
total_votos_pa                                                              0
total_votos_ms                                                              0
total_votos_pi                                                              0
total_votos_ma                                                              0
total_votos_df                                                              0
total_votos_es                                                              0
total_votos_rr                                                              0
total_votos_sc                                                              0
total_votos                                                             22623
Name: 3, dtype: object

In [56]:
df_votacao.iloc[3]["nome"]

'MAURICIO WILKER DE AZEVEDO BARRETO'

In [57]:
df_votacao["nome"][3]

'MAURICIO WILKER DE AZEVEDO BARRETO'

## Filtros

* Comparações lógicas de ==, >, >=, <, <=, !=
* isna()
* isin()

In [58]:
filtro = [False, True, True, True]

In [59]:
df_dados [filtro]

   nome sobrenome  idade
1   Nah   Gironde     30
2  Lara     Calvo     27
3    Ju       Duc     26

In [60]:
filtro_idade = df_dados ["idade"] >= 28 
df_dados [filtro_idade]

  nome sobrenome  idade
0  Téo     Calvo     28
1  Nah   Gironde     30

In [61]:
df_dados [filtro_idade]["idade"]

0    28
1    30
Name: idade, dtype: int64

In [62]:
df_dados [filtro_idade]["nome"]

0    Téo
1    Nah
Name: nome, dtype: object

In [ ]:
df_dados [filtro_idade]["nome"].tolist()

In [ ]:
df_dados [df_dados ["sobrenome"] == "Calvo"]

In [ ]:
df_calvo = df_dados [df_dados ["sobrenome"] == "Calvo"].copy()

In [ ]:
df_calvo

In [ ]:
#ah tá, entendi a pergunta...
# acho que o iloc é mais pra navegar pelos índices ; do dataframe usando os nomes das colunas/indices

In [ ]:
df_calvo ["genero"] = ["M", "F"]

In [ ]:
df_calvo

In [ ]:
a = [1,2,3]
#b = a
b = a.copy()

In [ ]:
b.append(4)

In [ ]:
print(b)

In [ ]:
print(a)

In [ ]:
df_new = df[ filtro ]

###  Conhecendo Where

In [ ]:
filtro_calvo_28 = ( df_dados ["sobrenome"] == "Calvo") & (df_dados ["idade"] >= 28)

In [ ]:
df_calvo_28 = df_dados [filtro_calvo_28].copy()
df_calvo_28

In [ ]:
df_dados.where (filtro_calvo_28).dropna(how="all")

In [ ]:
# dropa as colunas que forem nulas
df_dados.where (filtro).dropna(how="all") #isso já retorna um dataframe novo, ele já faz um 'copy'

In [ ]:
df_dados.where (filtro_calvo_28).isna()

# Como fica nos políticos?

In [ ]:
df_votacao [df_votacao["sigla_partido"] == "PSOL"]

In [ ]:
 filtro_sen_psol = ( (df_votacao["sigla_partido"] == "PSOL") &
                    (df_votacao["descricao_cargo"] == "SENADOR") &
                    (df_votacao["descricao_situacao_candidatura"] == "APTO") )
df_votacao[filtro_sen_psol]

In [ ]:
colunas_interesse  = ["nome", "sigla_partido"]
df_votacao[colunas_interesse]

In [ ]:
#exemplo de na
import numpy as np
df_tmp = pd.DataFrame(
    { "nome": ["Téo", "Nah", np.nan],
     "idade" : [28, 30,31]}
)
df_tmp [df_tmp ["nome"].isna()]

## Renomeando Colunas

In [ ]:
dados = { "nome":["Téo", "Nah", "Lara", "Ju"],
         "sobrenome":["Calvo", "Gironde", "Calvo", "Duc"],
         "idade":[28,30,27, 26], }
df_dados = pd.DataFrame(dados)

#criando uma coluna nova
df_dados ["Genero"] = ["M", "F", "F", "F"]

In [ ]:
df_dados

In [ ]:
#executar um comando apenas

df_dados = df_dados.rename(columns={"Genero":"genero"}, inplace=False) #atribui ao dataframe, true atribui

#df_dados.rename(columns={"Genero":"genero"}, inplace=False) #atribui ao dataframe, true atribui

In [ ]:
df_dados

In [ ]:
df_dados["colunaErro"] = False

In [ ]:
df_dados

In [ ]:
del df_dados["colunaErro"]

In [ ]:
df_dados

### Unique e Nunique

In [ ]:
df_votacao["sigla_partido"].unique() #lista todos os partidos

In [ ]:
df_votacao["sigla_partido"].nunique()

In [ ]:
df_votacao["nome"].nunique()

In [ ]:
df_votacao["ano_eleicao"].unique()

In [ ]:
df_vot_2018 = df_votacao[df_votacao["ano_eleicao"] == 2018]
df_vot_2018
df_vot_2018.columns.tolist()
print (df_vot_2018 ["numero_sequencial"].nunique(), "candidatos distintos em 2018")
print (df_vot_2018 ["nome"].nunique(), "nomes distintos em 2018")

print (df_vot_2018.shape[0], "linhas na base.")


print (df_vot_2018 [df_vot_2018 ["numero_turno"] == 1]["numero_sequencial"].nunique(), "nomes distintos em 2018")
print (df_vot_2018 [df_vot_2018 ["numero_turno"] == 2]["numero_sequencial"].nunique(), "nomes distintos em 2018")

df_vot_2018 [df_vot_2018 ["numero_turno"] == 2]["nome"]

In [ ]:
df_vot_2018.shape[0]

In [ ]:
df_vot_2018 [df_vot_2018 ["numero_turno"] == 1]

## Transformações, conversões e remoções

* Operações com escalares
* Operações entre colunas
* apply()
* funções anônimas

In [ ]:
df_votacao.head()

In [ ]:
import numpy as np
df_votacao ["log_total_votos"] = np.log1p (df_votacao["total_votos"])
df_votacao ["votos_por_mil"] = df_votacao ["total_votos"] / 1000
df_votacao ["sem_sentido"] = df_votacao ["votos_por_mil"]  * df_votacao ["log_total_votos"]

In [ ]:
df_votacao

In [ ]:
#funcao (nao tem nada a ver com o pandas)
def sigla_to_genero (x):
    if x == "M":
        return "Masculino"
    elif x == "F":
        return "Feminino"
    else:
        return np.nan

sigla_to_genero ("M")

In [ ]:
df_dados

In [ ]:
df_dados["genero_dsc"] = df_dados["genero"].apply( sigla_to_genero)

In [ ]:
df_dados

In [ ]:
nome = "Teo Calvo"

In [ ]:
"Calvo" in nome

In [ ]:
def is_bolsonaro(x):
    return "BOLSONARO" in x

In [ ]:
is_bolsonaro ("EDUARDO BOLSONARO")

In [ ]:
df_votacao [df_votacao["nome"].apply(is_bolsonaro)]

In [ ]:
def like (x, like_what = ""):
    return like_what in x

In [ ]:
df_votacao [df_votacao ["nome"].apply (like, args=["SILVA"])]
like ("Nah Ataide", like_what="Calvo")

In [ ]:
#df_votacao [df_votacao ["nome"].apply (like, args=["HADDAD"])]
df_votacao [df_votacao ["nome"].apply (like, args=["BOLSONARO"])]

In [ ]:
#funcao anonima
df_votacao [df_votacao["nome"].apply ( lambda x :  "HADDAD" in x)]
df_votacao [df_votacao["nome"].apply ( lambda x :  "BOLSONARO" in x)]
df_votacao [df_votacao["nome"].apply ( lambda x :  "BOLSONARO" in x or "HADDAD" in x)]

In [ ]:
"Téo Balbino Calvo".split(" ")[0]. title() #title deixa a primeira letra maiscula

In [ ]:
"Téo Balbino Calvo".split(" ")

In [ ]:
df_votacao["nome"].apply (lambda x: x.split(" ")[0]. title() )

In [ ]:
"eu amo o meu namorado".title()

In [ ]:
df_votacao["primeiro_nome"] = df_votacao["nome"].apply (lambda x: x.split(" ")[0]. title() )

In [ ]:
df_votacao

## Group by & Sort by

* Operações Estatísticas: sum, mean, count, std...
* Agrupando por chave

In [ ]:
df.groupby()

In [ ]:
#tabela de frequencia
pd.value_counts( df_dados ["sobrenome"]) #quantas pessoas com o mesmo sobrenome
#df_dados["sobrenome"].value_counts() #vale também

In [ ]:
print(df_dados["idade"].mean(), "Media") # Media 
print(df_dados["idade"].sum(), "Soma") # Soma
print(df_dados["idade"].std(), "Desvio padrão") # Desvio padrão
print()
print(df_dados["idade"].min(), "min") # min
print (df_dados["idade"].max(), "max") # max
print()
print(df_dados["idade"].describe(), "Sumário") # Summario

In [ ]:
#fill na para converter NA em "valor ausente"

In [ ]:
df_dados.groupby( ["sobrenome"] ) ["idade"].mean()

In [ ]:
df_dados.groupby( ["sobrenome"] ) ["idade"].describe()

In [ ]:
df_dados.groupby (["sobrenome"]).agg ( {"idade": ["mean", "sum"]} )

In [ ]:
df_dados.groupby (["sobrenome"]).agg ( {"idade": ["sum", "describe"]} )

In [ ]:
#multi index column - pesquisar

# Quanto cada partido teve de votos totais em cada ano de eleicao em cada turno?

In [ ]:
agg_columns = [ "ano_eleicao", "numero_turno", "sigla_partido"]
df_group = df_votacao.groupby (agg_columns) ["total_votos"].sum().head(50)

In [ ]:
df_group

In [ ]:
df_group.loc [2014][1]["PT"]

In [ ]:
df_group = df_group.reset_index()

In [ ]:
#df_group

In [ ]:
#pd.set_option('display.max_rows', 500) #mostra tudo
#pd.set_option('display.max_rows', 25) #mostra tudo
df_group.sort_values ( by = ["ano_eleicao", "total_votos"], ascending = [True, False]).head()

In [ ]:
df_group.sort_values ( by = ["ano_eleicao", "total_votos"], ascending = [True, False])

## Stack e Unstack

* Empilhando e desempilhando dados

In [ ]:
df.stack()
df.unstack()
df.explode()

In [ ]:
df_group = df_group.sort_values ( by = ["ano_eleicao", "total_votos"], ascending = [True, False])

In [ ]:
df_group = df_group.set_index ([ "ano_eleicao", "numero_turno", "sigla_partido"])
df_group

In [ ]:
df_unstack = df_group.unstack().fillna(0)

In [ ]:
df_unstack

In [ ]:
df_unstack

In [ ]:
df_unstack.stack()

In [ ]:
# explode
df_dados["empregos"] = [ [ "Via Varejo", "Téo Me Why", "ASN"],
                        ["studio.artesanah"],
                        ["Fiscal de Obra", "Arquiteta"],
                        ["PagSeguro"]]

In [ ]:
df_dados

In [ ]:
df_dados.explode("empregos")

In [ ]:
#def implode (x):
#    return list(x)

In [ ]:
df_dados.groupby ("nome").agg ({ "empregos" : lambda x: list(x) [0]})

## Joins

* merge com left, right, inner, etc.
* 'on' como chave

* Falar de concat

In [ ]:
df_votacao.head(2)

In [ ]:
df_group.head(2)

In [ ]:
type(df_group)

In [ ]:
df_group = df_group.reset_index()

In [ ]:
df_group

In [ ]:
df_vot_join = df_votacao.merge ( right=df_group,
                  on=["ano_eleicao", "numero_turno", "sigla_partido"],
                  how="left",
                  suffixes=["", "_partido"] )

In [ ]:
df_vot_join.head()

In [ ]:
df_vot_join ["representacao_partido"] = df_vot_join["total_votos"] / df_vot_join ["total_votos_partido"]

In [ ]:
df_vot_join.head(10)

In [ ]:
df_dados.reset_index()
#df_dados.reset_index(drop=True)

In [ ]:
# Análise de qual partido tem mais bens declarados
df_bens = pd.read_excel( "../data/dados/tb_bens.xlsx" )

In [ ]:
#df_bens

In [ ]:
df_bens.head(2)

In [ ]:
df_votos = pd.read_csv ( "../data/dados/votacao_agg_estado.csv")

In [ ]:
df_votos.head(2)

In [ ]:
df_votos

In [ ]:
df_bens[df_bens["ano_eleicao"] == 2018]
df_bens[df_bens["ano_eleicao"] == 2018].shape
df_bens[df_bens["ano_eleicao"] == 2018] ["numero_sequencial"].nunique()

In [ ]:
df_total_bens = df_bens.groupby ([ "ano_eleicao", "descricao_eleicao", "numero_sequencial" ]) ["valor"].sum()
df_total_bens

In [ ]:
# importa os votos dos candidatos por turno
df_votos = pd.read_csv ( "../data/dados/votacao_agg_estado.csv")

In [ ]:
df_votos = df_votos.merge( right=df_total_bens,
                          on=["ano_eleicao", "descricao_eleicao", "numero_sequencial"],
                          how="left")
df_votos
#checando se deu certo
#df_votos [ (df_votos ["ano_eleicao"] == 2018 ) & (df_votos["nome"].apply (lambda x: "BOLSONARO" in x))]

In [ ]:
df_votos.groupby (["sigla_partido"]) ["valor"].sum().reset_index() 
#aqui nao pode, precisar ordenar primeiro

In [ ]:
df_analysis = df_votos.sort_values ( by = ["ano_eleicao", "numero_sequencial", "numero_turno"])

colunas_interesse = ["ano_eleicao",
                       "descricao_eleicao",
                       "sigla_partido",
                       "nome",
                       "numero_turno",
                       "numero_sequencial",
                      "valor"] 
                     
             
df_analysis = df_analysis [ colunas_interesse ]
  
df_analysis = df_analysis.drop_duplicates ( subset = [ "ano_eleicao", "numero_sequencial"],
                            keep="first")

In [ ]:
df_analysis[ (df_analysis["ano_eleicao"] == 2018) & ( df_analysis["nome"].apply(lambda x: "BOLSONARO" in x) ) ]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
df_resultado = df_analysis.groupby ( [ "ano_eleicao", "sigla_partido"]) ["valor"].sum().reset_index()

In [ ]:
#salvando no arquivo excel
df_resultado.to_excel("../data/dados/resultado_analise_partido_juliana.xlsx")

In [ ]:
#instalar o pacote sqlalchemy
!pip install sqlalchemy

In [ ]:
import sqlalchemy

In [ ]:
# criando engine de conexão
con = sqlalchemy.create_engine("sqlite:///../data/dados/banco.db")

# tabelas que estao presentes no banco
con.table_names()

In [ ]:
df_bens = pd.read_sql_table ("tb_bens", con)
df_bens.shape

In [ ]:
df_votos = pd.read_sql_table ("tb_votacao", con)
df_votos.shape

In [ ]:
df_head = pd.read_sql_query( "SELECT * FROM tb_votacao limit 10", con )
df_head

In [ ]:
query = '''


select t1.ano_eleicao,
       t1.sigla_partido,
       t1.nome,
       t1.numero_sequencial,
       sum(t2.valor) as valor

from tb_votacao as t1

left join tb_bens as t2
on t1.ano_eleicao = t2.ano_eleicao
and t1.descricao_eleicao = t2.descricao_eleicao
and t1.numero_sequencial = t2.numero_sequencial

where t1.numero_turno = 1

group by t1.ano_eleicao,
         t1.sigla_partido,
         t1.nome,
         t1.numero_sequencial

'''
df_resposta = pd.read_sql_query (query, con)

In [ ]:
df_resposta

In [ ]:
df_analysis = df_resposta.groupby ( [ "ano_eleicao", "sigla_partido"])["valor"].sum().reset_index() 
df_analysis

In [ ]:
df_analysis.to_sql ("tb_patrimonio_partido", con, if_exists = "replace", index=False)

In [ ]:
con.table_names()

In [ ]:
df_pat = pd.read_sql_query( "SELECT * FROM tb_patrimonio_partido limit 10", con )

In [ ]:
df_pat

In [ ]:
df_pat.columns.tolist()

## Integração com banco de dados SQL

* Enviando query para o banco
* Consumindo tabela do banco
* Enviando dados para o banco

In [ ]:
https://www.twitch.tv/teomewhypd.read_sql()